@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    font-family: 'PT Sans', sans-serif;
    line-height: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
}

input{
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.inner-page{
    padding: 60px 0 100px;
    background-color: #f2f8f6;
}

.main-header {
    font-size: 54px;
    font-weight: 700;
    color: #31405B;
}




.header__burger {
    
    display: none;
    width: 40px;
    height: 25px;
    position: relative;
    background-color: transparent;
    z-index: 1000;
    span{
        position: absolute;
        transform: translate(-50%, -50%);
        height: 3px;
        width: 40px;
       
        background-color: #fff;
        transition: .3s;
        &:after, &:before{
            content: '';
            position: absolute;
            height: 3px;
            width: 40px;
            background-color: #fff;
            transition: .3s;
            border-radius: 2px;
        }

        &:after{
            transform: translate(-50%, 9px);
        }
        &:before{
            transform: translate(-50%, -9px);
        }
    }

    &.header__burger--active{
        position: fixed;
        right: 15px;
        span{
            background-color: transparent;

            &:after{
                transform: translate(-14px, 14px);
                rotate: 45deg;
                border-radius: 0px;
            }
            &:before{
                transform: translate(-14px, -14px);
                rotate: -45deg;
                border-radius: 0px;
            }
        }
    }

    @media (max-width: 1199px) {
        display: block;
    }
    
}

.burger__menu {
    padding: 40px 15px 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 320px;
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    background-color: #232323;
    color: #fff;
    transition: transform .4s;
    &.burger__menu--active{
        transform: translate(0, -50%);
    }
}
.burger__nav {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
}

a.mainpage-link{
    color: #138ece ;
}
